includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    level: 9

    ignoreErrors:
        - '#PHPDoc tag @mixin contains unknown class App\\Models#'

    excludePaths:
        - ./app/Filament

    treatPhpDocTypesAsCertain: false
